# Toolchains
Kernel/gcc-14.2.0/
Kernel/binutils-2.42/
# Ignore build output
Kernel/build-binutils/

# Build outputs
*.o
*.elf
*.efi
*.img

# Mount & temp folders
mnt/
build/
disk.img

# Private keys (보안)
priv.pem
